

/bin/
/obj/

.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

*.vspscc
*.vssscc

project.lock.json
project.fragment.lock.json
artifacts/

*.dll
*.pdb
*.exe

*.nupkg
**/[Pp]ackages/
!**/packages.config
*.nuspec
project.nuget.cache

*.log

docker-compose.override.yml
docker-compose.yml

node_modules/

appsettings.json
appsettings.Development.json

*.generated.cs
